# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

pool:
  vmImage: 'Ubuntu 16.04'

name: $(Date:yyyyMMdd).$(Rev:.r)
variables:
  buildConfiguration: 'Release'
  Major: '0'
  Minor: '1'
  Patch: '0-alpha-'
  Counter: $[counter('versioncounter')]
  
# steps:
# - task: DotNetCoreCLI@2
#   inputs:
#     command: pack
#     packagesToPack: 'src/Pioneer.Logs/Pioneer.Logs.csproj'
#     versioningScheme: byPrereleaseNumber
#     majorVersion: '$(Major)'
#     minorVersion: '$(Minor)'
#     patchVersion: '$(Patch)'

# - task: DotNetCoreCLI@2
#   inputs:
#     command: push
#     nuGetFeedType: external
#     packagesToPush: '$(build.artifactStagingDirectory)/*.nupkg'
#     publishFeedCredentials: pioneer-logs

steps:
- script: dotnet pack src/Pioneer.Logs/Pioneer.Logs.csproj -c $(buildConfiguration) -p:PackageVersion=$(Major).$(Minor).$(Patch)$(Counter)'
  displayName: 'dotnet pack'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)'
    Contents: |
      /**/*.nupkg
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
    FlattenFolders: true
  displayName: 'Public Assets: Move Fonts'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifacts'

# - script: dotnet nuget push $(build.artifactStagingDirectory)/*.nupkg -k $(nuget) -s https://api.nuget.org/v3/index.json
#   displayName: 'dotnet nuget push $(build.artifactStagingDirectory)/*.nupkg'


